html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fef5c8;
    text-align: center;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2c6b74;
    color: #fef5c8;
    padding: 20px 0;
    font-size: 24px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2c6b74;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#start-button:hover {
    background-color: #f23e02;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grid {
    width: 200px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
    background-color: #2c6b74;
    border: 2px solid #333;
}

.grid div {
    background-color: rgba(0, 0, 0, 0.7);
}

.tetromino {
    background-color: rgb(255, 17, 0);
}

.mini-grid {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    background-color: #2c6b74;
    border: 2px solid #333;
}

.mini-grid div {
    background-color: rgba(0, 0, 0, 0.7);
    height: 20px;
    width: 20px;
}

.footer {
    background-color: #2c6b74;
    color: #fef5c8;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
